<a href="https://colab.research.google.com/github/Srinunosina/npoi/blob/master/Copy_of_LR_Graded_Questions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [4]:
input_string = input()

#print(input_string.capitalize())

sentence=input_string.split(' ')
for i in sentence:
    print(i.capitalize(),end=' ')

qwevdc  eee
Qwevdc  Eee

In [5]:
import ast,sys
input_str = sys.stdin.read()
#input_list = ast.literal_eval(input_str)
input_list = [7] #  [6, 6, 6, 6, 6] # [7, 2, 0, 9, -1, 8] # [3, 1, 4, 4, 5, 5, 5, 0, 2, 2,6,6, 8,8, 20]  # #
# print('Sorted List', input_list)

distinct_list = list(dict.fromkeys(input_list))
distinct_list.sort()

if len(distinct_list) == 1:
  print('not present')
else:
  print(distinct_list[-2])

not present

In [0]:
# Importing the Pandas package and reading the data
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OkbnaOBqrBXZOpRQw1JGMgaM9/Wholesale_Data.csv')

In [15]:
# Write your code here. Make sure that you change the values in the column 'Channel' inplace. 
wholesale.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen Channel
0  12669  9656     7561     214              2674        1338    Cafe
1   7057  9810     9568    1762              3293        1776   Hotel
2   6353  8808     7684    2405              3516        7844   Hotel
3  13265  1196     4221    6404               507        1788    Cafe
4  22615  5410     7198    3915              1777        5185   Hotel

In [0]:
#wholesale.info()

In [10]:
# The final print statement. Please don't edit this part. Also don't write any other
# print statement otherwise your answer will not match even if it is correct
print(wholesale['Channel'].value_counts())

H             47
Cafe          45
Caffe         42
R             42
C             36
Hote          35
Hotel         32
Hot           32
Restaurant    30
Rest          29
Name: Channel, dtype: int64

In [0]:
df = wholesale[:]

In [0]:
# Define a function to rename the spelling mistakes
def rename_channel(error_data, correct_data):
    df['Channel'].replace(error_data, correct_data, inplace = True)

In [13]:
# Call rename_channel function
rename_channel('C','Cafe')
rename_channel('H','Hotel')
rename_channel('R','Restaurant')
rename_channel('Caffe','Cafe')
rename_channel('Hot','Hotel')
rename_channel('Hote','Hotel')
rename_channel('Rest','Restaurant')

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [14]:
print(wholesale['Channel'].value_counts())

Hotel         146
Cafe          123
Restaurant    101
Name: Channel, dtype: int64

In [0]:
master_loan.groupby('loan_status').total_pymnt.sum()

In [0]:
dic = {'H':'Hotel', 'C':'Cafe', 'R':'Restaurant','Caffe':'Cafe','Hot':'Hotel', 'Hote':'Hotel', 'Rest':'Restaurant',
      'Cafe':'Cafe', 'Hotel':'Hotel', 'Restaurant':'Restaurant'}

In [0]:
df = wholesale[:]

In [0]:
#df.info()

In [0]:
#df['Channel_New'] = df['Channel']

In [0]:
#df = df.replace({"Channel": dic })

In [0]:
#print(df['Channel_New'].value_counts())

In [0]:
#print(df['Channel'].value_counts())

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fresh             370 non-null    int64
 1   Milk              370 non-null    int64
 2   Grocery           370 non-null    int64
 3   Frozen            370 non-null    int64
 4   Detergents_Paper  370 non-null    int64
 5   Delicassen        370 non-null    int64
 6   Channel           370 non-null    object
dtypes: int64(6), object(1)
memory usage: 20.4+ KB

In [19]:
df.groupby('Channel').count()

            Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
Cafe          123   123      123     123               123         123
Hotel         146   146      146     146               146         146
Restaurant    101   101      101     101               101         101

In [0]:
df1 = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OqwpypRKN09x5GYej2LvVrprn/Wholesale_Data_Cleaned.csv')

# Write your code here

In [24]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Fresh             300 non-null    int64
 1   Milk              300 non-null    int64
 2   Grocery           300 non-null    int64
 3   Frozen            300 non-null    int64
 4   Detergents_Paper  300 non-null    int64
 5   Delicassen        300 non-null    int64
 6   Channel           300 non-null    object
dtypes: int64(6), object(1)
memory usage: 16.5+ KB

In [26]:
print(df1['Channel'].value_counts())

Hotel         120
Cafe          102
Restaurant     78
Name: Channel, dtype: int64

In [27]:
df1.groupby('Channel').count()

            Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
Cafe          102   102      102     102               102         102
Hotel         120   120      120     120               120         120
Restaurant     78    78       78      78                78          78

In [30]:
df1.groupby('Channel').sum()

              Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
Cafe        1348274  773080   973308  271831            365372      164147
Hotel       1682068  735817  1001518  472713            363799      245814
Restaurant   795696  408249   635229  246290            238404       91488

In [31]:
df_cafe = df1.groupby('Channel').sum()
df_cafe

              Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
Cafe        1348274  773080   973308  271831            365372      164147
Hotel       1682068  735817  1001518  472713            363799      245814
Restaurant   795696  408249   635229  246290            238404       91488

In [34]:
print('Cafe : ', 1348274	+ 773080 +	973308	+ 271831 +	365372 +	164147)
print('Hotel : ', 1682068	+ 735817	+ 1001518	+ 472713	+ 363799	+ 245814)
print('Rest : ', 795696	+ 408249	+ 635229	+ 246290	+ 238404 +	91488)

Cafe :  3896012
Hotel :  4501729
Rest :  2415356

In [43]:
df_cafe.columns
df_cafe

              Fresh    Milk  Grocery  Frozen  Detergents_Paper  Delicassen
Channel
Cafe        1348274  773080   973308  271831            365372      164147
Hotel       1682068  735817  1001518  472713            363799      245814
Restaurant   795696  408249   635229  246290            238404       91488

In [81]:
#df_cf = df_cafe[df_cafe['Channel'] == 'Cafe']]
df_cafe = df1[df1['Channel'] == 'Cafe'].groupby('Channel').sum().sum().sum()
df_hotel = df1[df1['Channel'] == 'Hotel'].groupby('Channel').sum().sum().sum()
df_restaurant = df1[df1['Channel'] == 'Restaurant'].groupby('Channel').sum().sum().sum()

dic = {'Cafe':df_cafe, 'Hotel': df_hotel, 'Restaurant': df_restaurant}

#print(s1, s2, s3)
temp = min(dic.values())
temp

listOfKeys = [key  for (key, value) in dic.items() if value == temp]
listOfKeys
 
# Find keys in dictionary by value list
#print(dic['Restaurant'])

['Restaurant']

In [79]:
for key, value in dic.items(): 
    print (key, value)

Cafe 3896012
Hotel 4501729
Restaurant 2415356

In [73]:
lst = [s1, s2, s3]
min(lst)
#dic.min

2415356

In [67]:
dic = {'Cafe':s1, ''}

print(type(lst))

list

In [68]:
lst.min()

AttributeError: ignored

In [41]:
res = df1.groupby('Channel')['Milk','Fresh'].sum()
res

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

              Milk    Fresh
Channel
Cafe        773080  1348274
Hotel       735817  1682068
Restaurant  408249   795696

In [42]:
res

              Milk    Fresh
Channel
Cafe        773080  1348274
Hotel       735817  1682068
Restaurant  408249   795696