<a href="https://colab.research.google.com/github/Srinunosina/npoi/blob/master/EDA_LiveSession.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib  as plt


url = 'https://query.data.world/s/srgmggc27wsevjcgo3idzko6scwls3'
df = pd.read_csv('https://query.data.world/s/srgmggc27wsevjcgo3idzko6scwls3',encoding="ISO-8859-1", dtype={'Year_of_Release':object})
df.head()

                       Name Platform  ... Developer Rating
0                Wii Sports      Wii  ...  Nintendo      E
1         Super Mario Bros.      NES  ...       NaN    NaN
2            Mario Kart Wii      Wii  ...  Nintendo      E
3         Wii Sports Resort      Wii  ...  Nintendo      E
4  Pokemon Red/Pokemon Blue       GB  ...       NaN    NaN

[5 rows x 16 columns]

In [10]:
df.describe()

           NA_Sales      EU_Sales  ...  Critic_Count    User_Count
count  16719.000000  16719.000000  ...   8137.000000   7590.000000
mean       0.263330      0.145025  ...     26.360821    162.229908
std        0.813514      0.503283  ...     18.980495    561.282326
min        0.000000      0.000000  ...      3.000000      4.000000
25%        0.000000      0.000000  ...     12.000000     10.000000
50%        0.080000      0.020000  ...     21.000000     24.000000
75%        0.240000      0.110000  ...     36.000000     81.000000
max       41.360000     28.960000  ...    113.000000  10665.000000

[8 rows x 8 columns]

In [17]:
df.NA_Sales.mean()
#better
df.NA_Sales.describe(percentiles=[0.05, 0.1, 0.25, 0.5, 0.75, 0.90, 0.95, 0.99 ])

count    16719.000000
mean         0.263330
std          0.813514
min          0.000000
5%           0.000000
10%          0.000000
25%          0.000000
50%          0.080000
75%          0.240000
90%          0.610000
95%          1.060000
99%          2.790000
max         41.360000
Name: NA_Sales, dtype: float64

In [19]:
df[df.NA_Sales> 2.75].shape

(175, 16)

In [20]:
df[df.NA_Sales> 2.75].Name

0                         Wii Sports
1                  Super Mario Bros.
2                     Mario Kart Wii
3                  Wii Sports Resort
4           Pokemon Red/Pokemon Blue
                   ...
282                          Frogger
283                  Madden NFL 2003
284                        Half-Life
299                      Star Fox 64
376    Assassin's Creed: Brotherhood
Name: Name, Length: 175, dtype: object

In [26]:
# missing value % of Critic_Score
df.isnull().sum()/len(df)
print(round(100*df.isnull().sum()/len(df),2))

#  High missing percentage for busines important column below are steps
# As your data provider, so that we can manage the missing vlaues (Reduce the amount of missing vlaues)
# Wait a period of time to collect more data
# Use advance technique to make imputation : Less accurate data

Name                0.01
Platform            0.00
Year_of_Release     1.61
Genre               0.01
Publisher           0.32
NA_Sales            0.00
EU_Sales            0.00
JP_Sales            0.00
Other_Sales         0.00
Global_Sales        0.00
Critic_Score       51.33
Critic_Count       51.33
User_Score         40.10
User_Count         54.60
Developer          39.61
Rating             40.49
dtype: float64

In [0]:
# drop missing vlaues, after droping of Name column
df.dropna(subset = ['Name'], inplace= True)

In [40]:
print(round(100*df.isnull().sum()/len(df),2))

Name                0.00
Platform            0.00
Year_of_Release     1.61
Genre               0.00
Publisher           0.32
NA_Sales            0.00
EU_Sales            0.00
JP_Sales            0.00
Other_Sales         0.00
Global_Sales        0.00
Critic_Score       51.32
Critic_Count       51.32
User_Score         40.09
User_Count         54.60
Developer          39.61
Rating             40.48
dtype: float64

In [44]:
# best way to create new column
df.loc[:,"Critic_Score_Imputed"] = df.groupby('Publisher')['Critic_Score'].apply(lambda x : x.fillna(x.mean()))
df.head(3)

                Name Platform  ... Rating Critic_Score_Imputed
0         Wii Sports      Wii  ...      E            76.000000
1  Super Mario Bros.      NES  ...    NaN            75.525806
2     Mario Kart Wii      Wii  ...      E            82.000000

[3 rows x 17 columns]

In [45]:
print(round(100*df.isnull().sum()/len(df),2))
# still publisers having 5.49 missing values

Name                     0.00
Platform                 0.00
Year_of_Release          1.61
Genre                    0.00
Publisher                0.32
NA_Sales                 0.00
EU_Sales                 0.00
JP_Sales                 0.00
Other_Sales              0.00
Global_Sales             0.00
Critic_Score            51.32
Critic_Count            51.32
User_Score              40.09
User_Count              54.60
Developer               39.61
Rating                  40.48
Critic_Score_Imputed     5.49
dtype: float64

In [47]:
df.Publisher.value_counts()
# due few publishers have only one game and their value is missing (na) so mean is also become na which means still missing vlues

Electronic Arts                 1356
Activision                       985
Namco Bandai Games               939
Ubisoft                          933
Konami Digital Entertainment     834
                                ...
Phoenix Games                      1
Quintet                            1
Epic Games                         1
Lighthouse Interactive             1
Altron                             1
Name: Publisher, Length: 581, dtype: int64

In [0]:
# Is Data is Highly Skewed
# Continuos data :
# 1. Histogram  : Panda , Seaborn,  Matplotlib
# 2. Boxplot    : , Seaborn,  Matplotlib

In [0]:
df.Global_Sales

In [54]:
df.User_Score.value_counts()
df.dtypes

Name                     object
Platform                 object
Year_of_Release          object
Genre                    object
Publisher                object
NA_Sales                float64
EU_Sales                float64
JP_Sales                float64
Other_Sales             float64
Global_Sales            float64
Critic_Score            float64
Critic_Count            float64
User_Score              float64
User_Count              float64
Developer                object
Rating                   object
Critic_Score_Imputed    float64
dtype: object

In [0]:
df.User_Score = pd.to_numeric(df.User_Score, errors = 'coerce')
sns.distplot(df.User_Score,)