<a href="https://colab.research.google.com/github/Srinunosina/npoi/blob/master/LR_Coding_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
wholesale = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/OqwpypRKN09x5GYej2LvVrprn/Wholesale_Data_Cleaned.csv')

In [0]:
# Write your code here
df_cafe = wholesale[wholesale['Channel'] == 'Cafe'].groupby('Channel').sum().sum().sum()
df_hotel = wholesale[wholesale['Channel'] == 'Hotel'].groupby('Channel').sum().sum().sum()
df_restaurant = wholesale[wholesale['Channel'] == 'Restaurant'].groupby('Channel').sum().sum().sum()

In [0]:
dic = {'Cafe':df_cafe, 'Hotel': df_hotel, 'Restaurant': df_restaurant}
min_value = min(dic.values())
res = [key  for (key, value) in dic.items() if value == min_value]

In [16]:
lst = [df_cafe, df_hotel, df_restaurant]
min_value = min(lst)
min_value

2415356

In [14]:
if min_value == df_cafe:
  print('Cafe')
elif min_value == df_hotel:
  print('Hotel')
elif min_value == df_restaurant:
  print('Restaurant')

Restaurant

In [7]:
print(type(res))

<class 'list'>

In [7]:
n=int(input())
#write your code here
n1, n2 = 0, 1
count = 0

if n == 1:
  print(n1)
else:
   print("Fibonacci sequence:")
   while count < n:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

5
Fibonacci sequence:
0
1
1
2
3

In [15]:
n=int(input())
factors=[]

def num_factors(x):
   for i in range(1, x + 1):
     if x % i == 0:
       factors.append(i)

num_factors(n)

if len(factors) > 2:
  print('number entered is not prime')
else:
  print('number entered is prime')

6
number entered is not prime

In [17]:
n=int(input())
sum = 0

# find the sum of the cube of each digit
temp = n
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if n == sum:
   print("True")
else:
   print("False")

251
False

In [24]:
import ast,sys
import pandas as pd

out_list = []
#input_str = #sys.stdin.read()
#input_list = ast.literal_eval(input_str)
series1= pd.Series([1,2,3,4,5,6,7])
#pd.Series(input_list[0])
series2= pd.Series([1,3,7] )

print(type(series1))

for i in series2:
  out_list.append(series1[series1 == i].index[0])
  
print(out_list)
#out_list= #store your output here
#print(list(map(int,out_list)))#do not alter this step, list must be int type for evaluation purposes

#myseries[myseries == 7].index[0]

<class 'pandas.core.series.Series'>
[0, 2, 6]

In [0]:
import pandas as pd 
df=pd.read_csv("https://media-doselect.s3.amazonaws.com/generic/8NMooe4G0ENEe8z9q5ZvaZA7/googleplaystore.csv")
#add your cleaning code here
#print(df.corr())

In [35]:
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [37]:
print(df['Installs'].value_counts())

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
Free                 1
0                    1
Name: Installs, dtype: int64

In [0]:
df['Installs'] =  df[df.Installs != 'Free'].Installs

In [39]:
print(df['Installs'].value_counts())

1,000,000+        1579
10,000,000+       1252
100,000+          1169
10,000+           1054
1,000+             907
5,000,000+         752
100+               719
500,000+           539
50,000+            479
5,000+             477
100,000,000+       409
10+                386
500+               330
50,000,000+        289
50+                205
5+                  82
500,000,000+        72
1+                  67
1,000,000,000+      58
0+                  14
0                    1
Name: Installs, dtype: int64

In [41]:
df['Installs'] = df['Installs'].str.strip('+')
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [0]:
df['Installs'] = df['Installs'].str.replace(',', '') 

#df['Installs'] = df['Installs'].str.strip(',')
#loan['int_rate'] = loan['int_rate'].str.strip('%').astype('float')

In [53]:
print(df['Installs'].value_counts())

1000000       1579
10000000      1252
100000        1169
10000         1054
1000           907
5000000        752
100            719
500000         539
50000          479
5000           477
100000000      409
10             386
500            330
50000000       289
50             205
5               82
500000000       72
1               67
1000000000      58
0               15
Name: Installs, dtype: int64

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [0]:
df = df.dropna()

In [60]:
df['Installs'].astype(str).astype(int)
#pd.to_numeric(s, errors='coerce')

0           10000
1          500000
2         5000000
3        50000000
4          100000
           ...
10834         500
10836        5000
10837         100
10839        1000
10840    10000000
Name: Installs, Length: 9360, dtype: int64

In [0]:
df['Installs'] = pd.to_numeric(df['Installs'], errors='coerce')

In [66]:
print(df.corr())

            Rating  Installs
Rating    1.000000  0.051337
Installs  0.051337  1.000000

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9360 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             9360 non-null   object
 1   Category        9360 non-null   object
 2   Rating          9360 non-null   float64
 3   Reviews         9360 non-null   object
 4   Size            9360 non-null   object
 5   Installs        9360 non-null   object
 6   Type            9360 non-null   object
 7   Price           9360 non-null   object
 8   Content Rating  9360 non-null   object
 9   Genres          9360 non-null   object
 10  Last Updated    9360 non-null   object
 11  Current Ver     9360 non-null   object
 12  Android Ver     9360 non-null   object
dtypes: float64(1), object(12)
memory usage: 1023.8+ KB